@font-face {
  font-family: Cannes;
  src: url(Fonts/Cannes.otf);
}
body {
  font-family: Cannes;
}
button {
  font-family: Cannes;
}
h1 {
  text-align: center;
  font-size: 50px
}
.submitBtn {
  font-family: Cannes;
  display: block;
  width: 100px;
  margin: 0 auto;
  height: 30px;
  font-size: 20px;
}
.AddBtn {
  font-family: Cannes;
  display: block;
  width: 140px;
  margin: 0 auto;
  height: 30px;
  font-size: 20px;
}

#expenseList {
  margin-top: 20px;
  margin-left: 200px;
  font-size: 20px;

}
th {
  font-size: 30px;
  text-decoration: underline;
  padding: 5px 300px 15px 20px;

}
td {
  font-size: 40px;
  padding: 5px 300px 15px 20px;
}
#currentDigitOne {
  text-align: center;
  font-size: 60px;
}
#currentDigitTwo {
  text-align: center;
  font-size: 60px;
}
#currentDigitThree {
  text-align: center;
  font-size: 60px;

}
#currentInput {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 15px;
}
#budgetInput {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 15px;
}
#refInput {
  margin-left: 70px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 15px;
}
#expInput {
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 15px;
}
.remove-button {
  display: inline-block;
  margin-left: 20px;
}
.refandexpense {
  display: inline-block;
  margin-left: 20px
}
.Units{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 35px;
  border: solid;
  height: 260px;
}
.UnitsTwo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 35px;
  height: 120px;
}
.currentBalance {
  margin-right: 170px;
}
.budget {
  margin-right: 170px
}
.expenses {
  margin-right: 20px;

}
.inputCurrent {
  margin-top: 20px;
  border:solid;
  width: 200px;
  height: 100px;

}
.inputbudget {
  margin-top: 20px;
  border:solid;
  margin: 20px;
  width: 200px;
  height: 100px;
}
.enterExpense {
  margin-top: 20px;
  border:solid;
  height: 100px;
  width: 500px;
}
